{# Load the tag library #}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"{% block meta %}{% endblock %}>
    <title>Shipping App - {% block title %}{% endblock %}</title>
    {# Load CSS and Javascript #}
    {% bootstrap_css %}
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <div class="col-8">
            <h1 class="mt-2">Austin Shipping App</h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
<script>
    {% bootstrap_javascript jquery='full' %}
    {% block script %}{% endblock %}
</script>
</html>